if meta
  if meta.html
    if meta.html.title
      title #{meta.html.title}
    if meta.html.description
      meta(name="description", content=meta.html.description)

  if meta.og
    if meta.og.title
      meta(property="og:title", content=meta.og.title)
    if meta.og.description
      meta(property="og:description", content=meta.og.description)
    if meta.og.image
      meta(property="og:image:secure_url", itemprop="image", content=meta.og.image)
      meta(property="og:image", itemprop="image", content=meta.og.image)
    if meta.og.width
      meta(property="og:image:width", content=meta.og.width)
    if meta.og.height
      meta(property="og:image:height", content=meta.og.height)
    if meta.og.url
      meta(property="og:url", content=meta.og.url)
    if meta.og.name
      meta(property="fb:site_name", content=meta.og.name)
    if meta.og.type
      meta(property="fb:type", content=meta.og.type)
    if meta.og.locale
      meta(property="fb:locale", content=meta.og.locale)

  if meta.twitter
    if meta.twitter.card
      meta(name="twitter:card", content=meta.twitter.card)
    if meta.twitter.title
      meta(name="twitter:title", content=meta.twitter.title)
    if meta.twitter.description
      meta(name="twitter:description", content=meta.twitter.description)
    if meta.twitter.image
      meta(name="twitter:image", content=meta.twitter.image)
    if meta.twitter.site
      meta(name="twitter:site", content=meta.twitter.site)
    if meta.twitter.creator
      meta(name="twitter:creator", content=meta.twitter.creator)
    
    

  