extends layout
    
block pagecss

block content
  .max-width-container.p-3
    section.skill.mb-3
      .properties(data-bs-toggle="collapse" data-bs-target="#skill-intro" aria-expanded="true" role="button" aria-controls="skill-intro")
        .property 
          |title: 
          span.text-red "Introduction"
        .property 
          |description: 
          span.text-red "Simon BRICHE"
      .skill-content
        #skill-intro.collapse.show
          .property content: 
          
          button.btn.btn-custom.btn-soft.mx-3 Press me 

          .soft.flat.text-center.m-3.p-5.mx-auto.rounded(style="width:300px")
            |I'm flat

          .soft.flat.convexe.text-center.m-3.p-5.mx-auto.rounded(style="width:300px")
            |I'm convexe
          .soft.flat.concave.text-center.m-3.p-5.mx-auto.rounded(style="width:300px")
            |I'm concave
          .soft.text-center.m-3.p-5.mx-auto.rounded.shadow(style="width:300px")
            |I'm floating


    section.skill.mb-3
      .properties(data-bs-toggle="collapse" data-bs-target="#skill-real" aria-expanded="true" role="button" aria-controls="skill-real")
        .property 
          |title: 
          span.text-red "Réalisations"
        .property 
          |description: 
          span.text-red "Mes principales réalisations"
      .skill-content
        #skill-real.collapse.show
          .property content: 
          .position-relative
            .inner-shadow.rounded
            .d-flex.position-relative.container-fluid.text-start.rounded.soft.pressed.overflow-scroll.my-3.pb-3
              .__react-cmp.mx-auto(data-react-component="Gallery" data-section="featured")

    section.skill.mb-3
      .properties.collapsed(data-bs-toggle="collapse" data-bs-target="#skill-more-real" aria-expanded="true" role="button" aria-controls="skill-more-real")
        .property 
          |title: 
          span.text-red "Plus de réalisations"
        .property 
          |description: 
          span.text-red "Un peu plus de projets, triés par client ou type"
      .skill-content
        #skill-more-real.collapse
          .property content:
          .container-fluid
            .row.gallery-container
              - var n = 0;
              while n < 10
                .col-12.col-sm-6.col-md-4.col-lg-3.mb-3
                  .card.gallery-item.m-3.mx-auto.rounded.border-0.soft
                    img.card-img-top.rounded-top(src=`${cdnURL}/assets/images/gallery/thumbnail@2x.png`)
                    .card-body.text-start.rounded-bottom
                      ul.list-unstyled
                        li 
                          h5.mb-0
                            small client: 
                            span.text-red Betclic 
                        li 
                          small name: 
                          strong QI Foot
                        li
                          small type: 
                          span Quiz
                - n++
                
          .text-center
            button.btn.btn-custom.btn-soft.mx-3 Plus de projets 

    section.skill.pb-5
      .properties(data-bs-toggle="collapse" data-bs-target="#skill-xp" aria-expanded="true" role="button" aria-controls="skill-xp")
        .property 
          |title: 
          span.text-red "Experience"
        .property 
          |description: 
          span.text-red "Mon cursus professionnel"
      .skill-content
        #skill-xp.collapse.show
          .property content: 
          .graph-wrapper.position-relative
            #graph-tooltip.fade.rounded.shadow.px-3.py-2
            #graph-container.pb-0
          .graph-wrapper.position-relative
            #graph-container-2.pb-0
    
    section.skill.pb-5
      .properties(data-bs-toggle="collapse" data-bs-target="#skill-stack" aria-expanded="true" role="button" aria-controls="skill-stack")
        .property 
          |title: 
          span.text-red "Ma stack"
        .property 
          |description: 
          span.text-red "Les outils et platerformes que j'utilise au quotidien"
      .skill-content
        #skill-stack.collapse.show
          .property.mb-2 content: 
          #stack-accordion.accordion.accordion-custom.rounded.soft
            each stackItem in stackItems
              .accordion-item
                h2.accordion-header(id="heading-"+stackItem.key)
                  button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#collapse-"+stackItem.key aria-expanded="false" aria-controls="collapse-"+stackItem.key)
                    .d-flex.align-items-center
                      img.stack-logo.rounded-circle.me-2(src=`${cdnURL}/assets/images/stack/${stackItem.image}`)
                      .stack
                        |#{stackItem.name}
                        .small #{stackItem.type}
                .accordion-collapse.collapse(id="collapse-"+stackItem.key aria-labelledby="heading-"+stackItem.key data-bs-parent="#stack-accordion")
                  .accordion-body.soft.pressed
                    |!{stackItem.description}

    section.skill.mb-3
      .properties(data-bs-toggle="collapse" data-bs-target="#skill-hobby" aria-expanded="true" role="button" aria-controls="skill-hobby")
        .property 
          |title: 
          span.text-red "Hobbies et projets étudiant"
        .property 
          |description: 
          span.text-red "Des projets réalisés durant mon cursus scolaire et quelques croquis faits sur mon temps libre ou durant mes études."
      .skill-content
        #skill-hobby.collapse.show
          .property content: 
          .position-relative
            .inner-shadow.rounded
            .d-flex.position-relative.container-fluid.text-start.rounded.soft.pressed.overflow-scroll.my-3.pb-3
              .__react-cmp.mx-auto(data-react-component="Gallery" data-section="perso")
              
block page-outer-content
  .__react-cmp(data-react-component="GalleryPostModal")

  #modal-profile.modal.modal-interface.fade(tabindex="-1" aria-labelledby="modalFooter" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-body
          .card.portfolio-focus.soft.flat.rounded.border-0.mx-sm-auto
            img.card-img-top.rounded-top(src=`${cdnURL}/assets/images/wam-thumbnail.png`)
            .card-body.bg-white.rounded-bottom
              h2.card-title.text-red 
                strong Simon BRICHE
              h6.text-red.mb-0 En résumé
              .card-text.mb-3
                |Développeur web professionnel depuis 2006 et passionné par le numérique depuis mon premier Amstrad CPC 6128, je suis spécialisé dans le développement d'applications interactives online.
                |J'ai réuni ici quelques projets réalisés dans le cadre de mon activité professionnelle ou en tant que développeur indépendant sur le secteur de Lille (59).
                |N'hésitez pas à prendre quelques minutes pour tester les projets en démonstration !
              .text-center.mb-3
                a.btn.btn-custom.btn-soft.mx-auto(href="http://sbriche.free.fr/CV-simon-briche-web.pdf" target="_blank") Voir mon CV

              h6.text-red.mb-2 Contact
              form#form-contact.op1c-form
                .form-group.mb-3
                  .input-group
                    span.input-group-text.text-secondary.px-3
                      i.fas.fa-fw.fa-users
                    .form-floating.form-floating-group.flex-grow-1
                      input#last_name.form-control.rounded-0.rounded-end(type="text" name="last_name" placeholder="Votre nom *" autocomplete="family-name" required)
                      label(for="last_name") Votre Nom *
                  span.form-text
                .form-group.mb-3
                  .input-group
                    span.input-group-text.text-secondary.px-3
                      i.fas.fa-fw.fa-user
                    .form-floating.form-floating-group.flex-grow-1
                      input#first_name.form-control.rounded-0.rounded-end(type="text" name="first_name" placeholder="Votre Prénom *" autocomplete="given-name" required)
                      label(for="first_name") Votre Prénom *
                  span.form-text
                .form-group.mb-3
                  .input-group
                    span.input-group-text.text-secondary.px-3
                      i.fas.fa-fw.fa-paper-plane
                    .form-floating.form-floating-group.flex-grow-1
                      input#email.form-control.rounded-0.rounded-end(type="email" name="email" placeholder="Votre Email *" autocomplete="email" required)
                      label(for="email") Email *
                  span.form-text
                .form-group.mb-3
                  .input-group
                    span.input-group-text.text-secondary.px-3
                      i.fas.fa-fw.fa-comment
                    .form-floating.form-floating-group.flex-grow-1
                      textarea#message.form-control.rounded-0.rounded-end.h-auto(name="message" rows="5" placeholder="Votre message *" required)
                      label(for="message") Message *
                  span.form-text
                  
                .form-group.mt-3
                  button.btn.btn-custom.btn-soft.btn-submit.w-100(type="submit")
                    span.pending-spinner
                      i.fas.fa-spinner.fa-spin
                    | Envoyer

block pagejs
  script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js")
  script(src="https://cdn.jsdelivr.net/npm/@gitgraph/js")
  script(src=`${cdnURL}/assets/js/index.js`)
  script(src=`${cdnURL}/assets/js/contact.js`)